{% extends 'admin/layout.html.twig' %}

{% block main %}
    {{ include('default/_form.html.twig', {'button_label': 'Aktualizuj dane', 'title': user.firstName ~' '~ user.lastName ~' (' ~ user.username ~ ')'}) }}
{% endblock %}
