{% extends 'admin/layout.html.twig' %}

{% block title %}Doctor index{% endblock %}

{% block main %}
    <div class="pt-3 pb-2 mb-3">
      <h1 class="h2">{{user.firstName}} {{user.lastName}}</h1>
      <p>Lista moich wizyt</p>
    </div>

    <table class="table">
        <thead>
            <tr>
              <th>Data</th>
              <th>Lekarz</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
        {% for visit in visits %}
            <tr>
                <td>{{ visit.date |date('d.m.Y H:i') }}</td>
                <td>
                    {{ visit.doctor.firstName }}
                    {{ visit.doctor.lastName }}
                    ({{ visit.doctor.specialization }})
                </td>
                <td>
                    {{ include('default/_visit_signout_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">brak umówionych wizyt</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
