{% extends 'admin/layout.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block main %}
    <a href="{{ path('user_index') }}">
        <span data-feather="chevron-left"></span>
        powrót do listy
    </a>

    {{ include('default/_form.html.twig', {'button_label': 'Aktualizuj dane', 'title': 'Edycja użytkownika'}) }}
    {{ include('default/_delete_form.html.twig', {'csrf': csrf_token('delete' ~ user.id), 'action': path('user_delete', {'id': user.id})}) }}
{% endblock %}
