{% extends 'admin/layout.html.twig' %}


{% block title %}User index{% endblock %}
{% block body_id %}admin-user-index{% endblock %}
{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
      <h1 class="h2">Lista użytkowników</h1>
    </div>
    <div class="mb-3">
        <a href="{{ path('user_new') }}">Nowy użytkownik <span data-feather="plus-circle"></span></a>
    </div>

    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Admin</th>
                <th>Email</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% set isAdmin = ('ROLE_ADMIN' in user.roles) %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <form method="post" action="{{ path('user_change_role', {'id': user.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('changeRole' ~ user.id) }}">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn {{isAdmin ? 'btn-light' : 'btn-primary active'}}">
                                <input type="radio" name="roleAdmin" value="0" autocomplete="off" {{isAdmin ? '' : 'checked'}}> Nie
                            </label>
                            <label class="btn {{isAdmin ? 'btn-primary active' : 'btn-light'}}">
                                <input type="radio" name="roleAdmin" value="1" autocomplete="off" {{isAdmin ? 'checked' : ''}}> Tak
                            </label>
                        </div> 
                    </form>
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Akcja
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}"><span data-feather="search"></span> szczegóły</a>
                        <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}"><span data-feather="edit"></span> edycja</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">nie odnaleziono użytkowników w bazie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
