{% extends 'admin/layout.html.twig' %}

{% block title %}New User{% endblock %}

{% block main %}
    <a href="{{ path('user_index') }}">
        <span data-feather="chevron-left"></span>
        powrót do listy
    </a>
    {{ include('default/_form.html.twig', {'title': 'Dodaj nowego użytkownika'}) }}
{% endblock %}
