{% extends 'admin/layout.html.twig' %}

{% block title %}User{% endblock %}

{% block main %}
    <a href="{{ path('user_index') }}">
        <span data-feather="chevron-left"></span>
        powrót do listy
    </a>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
      <h1 class="h2">{{ user.firstName }} {{user.lastName}} ({{ user.username }})</h1>
    </div>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Admin</th>
                <td>{{ 'ROLE_ADMIN' in user.roles ? 'Tak' : 'Nie'}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Imię</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ user.lastName }}</td>
            </tr>
        </tbody>
    </table>
    
    <div class="form-centered">
        <form action="{{ path('user_edit', {'id': user.id}) }}">
            <button class="btn btn-lg btn-success btn-block">Edytuj</button>
        </form>
        {{ include('default/_delete_form.html.twig', {'csrf': csrf_token('delete' ~ user.id), 'action': path('user_delete', {'id': user.id})}) }}
    </div>

{% endblock %}
