{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<br>
<br>
<br>
<div class="form-centered">
  <form method="post">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="form-group">
      <label for="inputUsername" class="required">
        Login
        {% if error %}
          <span class="invalid-feedback d-block">
            <span class="d-block">
              <span class="form-error-icon badge badge-danger text-uppercase">{{ 'Error'|trans({}, 'validators') }}</span>
              <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            </span>
          </span>
        {% endif %}
      </label>
      <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="required">Hasło</label>
      <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
    <div class="text-center mt-5 mb-3">
      <p class="text-muted">Nie masz konta?</p>
      <a href="{{path('security_register')}}">
        <div class="btn btn-outline-primary my-2 my-sm-0">Zarejestruj się</div>
      </a>
    </div>
  </form>
</div>
{% endblock %}
