{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<br>
<br>
<br>
<div class="form-centered">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Rejestracja</h1>
    </div>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        {# {{ form_row(registrationForm.username) }} #}
        {# {{ form_row(registrationForm.plainPassword) }} #}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj się</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
