{% extends 'admin/layout.html.twig' %}

{% block title %}Edit Doctor{% endblock %}

{% block main %}
    <a href="{{ path('doctor_index') }}">
        <span data-feather="chevron-left"></span>
        powrót do listy
    </a>

    {{ include('default/_form.html.twig', {'button_label': 'Aktualizuj dane', 'title': 'Edycja doktora'}) }}
    {{ include('default/_delete_form.html.twig', {'csrf': csrf_token('delete' ~ doctor.id), 'action': path('doctor_delete', {'id': doctor.id})}) }}
{% endblock %}
