{% extends 'admin/layout.html.twig' %}

{% block title %}New Doctor{% endblock %}

{% block main %}
    <a href="{{ path('doctor_index') }}">
        <span data-feather="chevron-left"></span>
        powrót do listy
    </a>
    {{ include('default/_form.html.twig', {'title': 'Dodaj nowego doktora'}) }}
{% endblock %}
