<div class="form-centered">
    <form method="post" action="{{ action }}" onsubmit="return confirm('Czy jesteś pewien że chcesz usunąć?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf }}">
        <button class="btn btn-lg btn-danger btn-block" type="submit">Usuń</button>
    </form>
</div>
