<div class="form-centered">
    {{ form_start(form) }}
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">{{title}}</h1>
        </div>
        {{ form_widget(form) }}
        <button class="btn btn-lg btn-success btn-block" type="submit">{{ button_label|default('Zapisz') }}</button>
    {{ form_end(form) }}
</div>
