<form method="post" action="{{ path('visit_signout', {'id': visit.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('signout' ~ visit.id) }}">
    <button class="pr-3 btn-danger btn btn-sm" type="submit">Odwołaj wizytę</button>
</form>
