<form method="post" action="{{ path('visit_sign', {'id': visit.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('sign' ~ visit.id) }}">
    <button class="pr-3 btn-success btn btn-sm" type="submit">Umów się na wizytę</button>
</form>
