{% extends 'base.html.twig' %}

{% block body_id 'index-index' %}

{% block main %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">MediClinic</h1>
      <p>Strona do zapisów online do prywatnej specjalistycznej przychodni medycznej.</p>
      <p><a class="btn btn-primary btn-lg" href="{{path('doctor_index')}}" role="button">Zapisy online &raquo;</a></p>
    </div>
  </div>

  <div class="container">
<div class="card-deck">
  <div class="card">
    <img src="/gfx/doctors.jpg" class="card-img-top" alt="doktorzy">
    <div class="card-body">
      <h5 class="card-title">Najlepsi lekarze</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla luctus sapien sed fringilla. Nunc hendrerit commodo ante, ut semper ipsum faucibus nec</p>
    </div>
  </div>
  <div class="card">
    <img src="/gfx/sprzet.jpg" class="card-img-top" alt="lekarze dziecięcy">
    <div class="card-body">
      <h5 class="card-title">Nowoczesny sprzęt medyczny</h5>
      <p class="card-text">Vestibulum sed dictum risus. Nulla elit felis, mattis vitae nunc eget, bibendum ultrices est. Mauris pharetra molestie metus, eget fringilla sapien euismod ac.</p>
    </div>
  </div>
  <div class="card">
    <img src="/gfx/kontakt.jpg" class="card-img-top" alt="lekarze dziecięcy">
    <div class="card-body">
      <h5 class="card-title">Kontakt</h5>
      <p class="card-text">
        <span data-feather="phone"></span>&nbsp; +48 123-456-789
        <br>
        <br>
        <span data-feather="mail"></span>&nbsp; office@mediclinic.pl
        <br>
        <br>
        <span data-feather="map-pin"></span>&nbsp; Warszawska 222, 02-033 Warszawa
      </p>
    </div>
  </div>
</div>
{% endblock %}