{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/admin') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/admin') }}
{% endblock %}
{% set currPath = app.request.attributes.get('_route') %}

{% block header %}
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand nav-link col-sm-3 col-md-2 mr-0" href="{{ path('homepage') }}">MediClinic</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('admin_index') }}">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav px-3" style="flex-direction:row">
      <li class="nav-item text-nowrap p-2">
        <span class="navbar-text">Zalogowany jako: <a href="{{path('profile_show')}}" class="text-warning">{{app.user.username}}</a></span>
      </li>
      <li class="nav-item text-nowrap p-2">
        <a class="btn btn-outline-warning my-2 my-sm-0" href="{{path('security_logout')}}">Wyloguj się</a>
      </li>
    </ul>
  </nav>
{% endblock %}
{% block body %}
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link {{currPath matches '{doctor}' ? 'active' : ''}}" href="{{path('doctor_index')}}">
                <span data-feather="activity"></span>
                Lekarze
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{currPath matches '{profile}' and currPath != 'profile_visit_index' ? 'active' : ''}}" href="{{path('profile_show')}}">
                <span data-feather="user"></span>
                Mój profil
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{currPath matches '{profile_visit}' ? 'active' : ''}}" href="{{path('profile_visit_index')}}">
                <span data-feather="calendar"></span>
                Moje wizyty ({{ app.user.visits|length }})
              </a>
            </li>
          </ul>

          {% if is_granted('ROLE_ADMIN') %}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Administrator</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link {{currPath matches '{user}' ? 'active' : ''}}" href="{{path('user_index')}}">
                  <span data-feather="users"></span>
                  Użytkownicy
                </a>
              </li>
            </ul>
          {% endif %}
        </div>
      </nav>
      <main role="main" class="col-md-10 col-lg-8 ml-sm-auto px-4">
        {{ include('default/_flash_messages.html.twig') }}
        {% block main %}{% endblock %}
      </main>
      <div class="visible-lg col-lg-2"></div>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}