{% extends 'admin/layout.html.twig' %}

{% block title %}Doctor index{% endblock %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
      <h1 class="h2">Lista lekarzy</h1>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="mb-3">
            <a href="{{ path('doctor_new') }}">Nowy lekarz <span data-feather="plus-circle"></span></a>
        </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Id</th>
                {% endif %}
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Specjalizacja</th>
                <th>Wolne wizyty</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for doctor in doctors %}
            {% set freeVisits = doctor.getFreeVisitsCount() %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ doctor.id }}</td>
                {% endif %}
                <td>{{ doctor.firstName }}</td>
                <td>{{ doctor.lastName }}</td>
                <td>{{ doctor.email }}</td>
                <td>{{ doctor.phone }}</td>
                <td>{{ doctor.specialization }}</td>
                <td class="{{ freeVisits > 0 ? 'text-success' : 'text-danger' }}">{{ doctor.getFreeVisitsCount() }}</td>
                <td>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('doctor_visit_index', {'id': doctor.id}) }}" class="pr-3">lista wizyt</a>
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Akcja
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('doctor_show', {'id': doctor.id}) }}"><span data-feather="search"></span> szczegóły</a>
                        <a class="dropdown-item" href="{{ path('doctor_edit', {'id': doctor.id}) }}"><span data-feather="edit"></span> edycja</a>
                    </div>
                {% endif %}
                {% if freeVisits > 0 %}
                    <a class="btn btn-sm btn-success" href="{{ path('doctor_visit_index', {'id': doctor.id}) }}">zapisz się</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">nie odnaleziono lekarzy w bazie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
