{% extends 'admin/layout.html.twig' %}

{% block title %}Doctor{% endblock %}

{% block main %}
    <a href="{{ path('doctor_index') }}">
        <span data-feather="chevron-left"></span>
        powrót do listy Lekarzy
    </a>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
      <h1 class="h2">{{ doctor.firstName }} {{doctor.lastName}} ({{ doctor.specialization }})</h1>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ doctor.id }}</td>
            </tr>
            <tr>
                <th>Imię</th>
                <td>{{ doctor.firstName }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ doctor.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ doctor.email }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ doctor.phone }}</td>
            </tr>
            <tr>
                <th>Specjalizacja</th>
                <td>{{ doctor.specialization }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="form-centered">
            <form action="{{ path('doctor_edit', {'id': doctor.id}) }}">
                <button class="btn btn-lg btn-success btn-block">Edytuj</button>
            </form>
            {{ include('default/_delete_form.html.twig', {'csrf': csrf_token('delete' ~ doctor.id), 'action': path('doctor_delete', {'id': doctor.id})}) }}
        </div>
    {% endif %}
{% endblock %}
