{% extends 'admin/layout.html.twig' %}

{% block title %}Doctor index{% endblock %}

{% block main %}
    <a href="{{ path('doctor_index') }}">
        <span data-feather="chevron-left"></span>
        powrót do listy Lekarzy
    </a>
    <div class="pt-3 pb-2 mb-3">
      <h1 class="h2">{{doctor.firstName}} {{doctor.lastName}} ({{doctor.specialization}})</h1>
      <p>Lista dostępnych wizyt</p>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="mb-3">
            <a href="{{ path('doctor_visit_new', {'id': doctor.id}) }}">Nowa wizyta lekarza <span data-feather="plus-circle"></span></a>
        </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
              {% if is_granted('ROLE_ADMIN') %}
                  <th>Id</th>
              {% endif %}
              <th>Data</th>
              <th>Status</th>
              {% if is_granted('ROLE_ADMIN') %}
                <th>Pacjent</th>
                <th></th>
              {% endif %}
              <th></th>
            </tr>
        </thead>
        <tbody>
        {% for visit in visits %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ visit.id }}</td>
                {% endif %}
                <td>{{ visit.date |date('d.m.Y H:i') }}</td>
                <td>
                    {% if visit.status == 'open' %}
                        <span class="text-success">Wolna</span>
                    {% else %}
                        <span class="text-danger">Zajęta</span>
                    {% endif %}
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        {% if visit.user %}
                            {{visit.user.firstName}} {{visit.user.lastName}}
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {% if visit.status == 'open' %}
                        {{ include('default/_visit_sign_form.html.twig') }}
                    {% endif %}
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Akcja
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('visit_edit', {'id': visit.id}) }}"><span data-feather="edit"></span> edycja</a>
                    </div>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">nie odnaleziono wizyt w bazie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
