<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="h-100">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Prywatna specjalistyczna placówka medyczna MediClinic">
    <meta name="keywords" content="specjalistyczna placówka, medyczna, MediClinic">
    <meta name="author" content="Grupa Online">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediClinic</title>
    {% block stylesheets %}
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      {{ encore_entry_link_tags('css/app') }}
    {% endblock %}
  </head>

  <body id="{% block body_id %}{% endblock %}" class="d-flex flex-column h-100 bg-light">
    {% block header %}
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container">
            <a class="navbar-brand" href="{{path('homepage')}}">MediClinic</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('doctor_index') }}">Lista lekarzy</a>
                  </li>
                {% endif %}
              </ul>
              {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                <a href="{{path('security_login')}}">
                  <div class="btn btn-outline-success my-2 my-sm-0 m-2">Zaloguj się</div>
                </a>
              {% else %}
                <span class="navbar-text mr-3">Zalogowany jako: <a href="{{path('profile_show')}}" class="text-warning">{{app.user.username}}</a></span>
                <a class="btn btn-outline-warning my-2 my-sm-0" href="{{path('security_logout')}}">Wyloguj się</a>
              {% endif %}
            </div>
          </div>
        </nav>
      </header>
    {% endblock %}
      {% block body %}
        <main role="main" class="flex-shrink-0">
          {{ include('default/_flash_messages.html.twig') }}
          {% block main %}{% endblock %}
        </main>
      {% endblock %}

      {% block footer %}
        <footer class="py-3 bg-dark">
          <div class="container">
            <span>MediClinic</span>
          </div>
        </footer>
      {% endblock %}

      {% block javascripts %}
        <script type="text/javascript" src="/moment-with-locales.min.js"></script>
        {{ encore_entry_script_tags('js/app') }}
      {% endblock %}
  </body>
</html>
