{% extends 'admin/layout.html.twig' %}

{% block main %}
    <a href="{{ path('doctor_index') }}">
        <span data-feather="chevron-left"></span>
        powrót do listy
    </a>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
      <h1 class="h2">{{ doctor.firstName }} {{doctor.lastName}} ({{ doctor.specialization }})</h1>
    </div>
    
    {{ include('default/_form.html.twig', {'title': 'Dodaj nową wizytę'}) }}

{% endblock %}
